<div class="summary">
       <div class="month-selector">
      <button class="chevron" mat-icon-button (click)="previousYear()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <mat-form-field class="year-picker">
        <input matInput [matDatepicker]="dp" placeholder="Year" [(ngModel)]="date" />
        <mat-datepicker-toggle matSuffix [for]="dp" />
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)">
        </mat-datepicker>
      </mat-form-field>
      <button class="chevron" mat-icon-button (click)="nextYear()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Spending Summary</mat-card-title>
            <mat-card-subtitle>Total spent per month</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="chart-content">
            <canvas baseChart 
                    [data]="barChartDataSignal()" 
                    [options]="barChartOptions" 
                    [type]="barChartType">
            </canvas>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
  <mat-card-header>
    <mat-card-title>Savings</mat-card-title>
    <mat-card-subtitle>Total savings per month for {{ currentYearSignal() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="chart-content">
    <canvas
      baseChart
      [data]="savingsChartDataSignal()"
      [options]="savingsChartOptions"
      [type]="barChartType">
    </canvas>
  </mat-card-content>
</mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Income</mat-card-title>
            <mat-card-subtitle>How much we made</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="chart-content">
            <canvas
            baseChart
            [data]="lineChartDataSignal()"
            [options]="lineChartOptions"
            [type]="lineChartType">
            </canvas>
        </mat-card-content>        
    </mat-card>
    <mat-card>
  <mat-card-header>
    <mat-card-title>Expenses by Category (Year)</mat-card-title>
    <mat-card-subtitle>Top categories for {{ currentYearSignal() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="chart-content">
    <canvas
      baseChart
      [data]="pieChartDataYearSignal()"
      [options]="pieChartOptions"
      [type]="pieChartType">
    </canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Expenses by Category (Month)</mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select  [ngModel]="selectedMonthSignal()" (ngModelChange)="selectedMonthSignal.set($event)">
          <mat-option *ngFor="let m of months; let i = index" [value]="i">{{ m }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="chart-content">
    <canvas
      baseChart
      [data]="pieChartDataMonthSignal()"
      [options]="pieChartOptions"
      [type]="pieChartType">
    </canvas>
  </mat-card-content>
</mat-card>
</div>