.settings {
    margin: 24px;
    
    .categories {
        .category-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #ccc;
        }

        .category-header {
            font-size: 1.5rem;
            margin-bottom: 16px;
            text-align: left;
        }

        .category-subheader {
            margin: 32px 0 8px;
            font-size: 1.2rem;
            font-weight: 500;
            padding-bottom: 4px;
        }

        .table-wrapper {
            overflow-x: auto;
            margin-bottom: 16px;


            .input-with-icon {
                display: flex;
                align-items: center;
                gap: 8px;

                button[mat-icon-button] {
                    flex-shrink: 0;
                    height: 40px;
                    width: 40px;
                    margin: 0;
                }

                .form-field {
                    flex: 1;
                }
            }

            table {
                width: 100%;
                min-width: 600px;
                border-spacing: 0 8px;
            }

            .form-field {
                margin: 0;
            }

            .full-width {
                width: 100%;
            }

            .add-row-cell {
                padding-top: 12px;
            }
        }
    }

    .bottom-buttons {
        position: sticky;
        margin-top: 24px;
        bottom: 20px;
        right: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        z-index: 1000;
    }
}