mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  /*display: flex;*/
}

mat-sidenav-container {
  height: 93vh;
  
}

.container {
  .toolbar {
    background-color: #DC9AA9;
    .app-name {
      margin: 0px 0px 0px 10px
    }
  }
}