<div class="example-container">
  <mat-toolbar class="example-toolbar" >
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">$oto Finance Tracker</h1>
  </mat-toolbar>

  <mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #snav #sidenav mode="push">
      <mat-nav-list (click)="close('backdrop')">
        <a mat-list-item routerLink="/setup">Setup</a>
        <a mat-list-item routerLink="/income">Income</a>
        <a mat-list-item routerLink="/expenses">Expenses</a>
        <a mat-list-item>Summary</a>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <router-outlet/>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
