.top-row {
  display: flex;
  justify-content: flex-end;
}

.table {
  padding: 10px;

  mat-form-field.mat-mdc-form-field {
    width: 50%;
    margin: 10px 0px -5px 0px
  }

  .header {
    display: flex;
    justify-content: space-between;
    button {
      margin-left: 20px;
    }

    .category-header {
      position: sticky;
      top: 0px;
      background: #fff8f8;
      z-index: 10;
      padding: 0.5rem 0;
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }
  
  
  }
    .sub-header {
  }

  .row-contents {
    padding: 10px;
    align-items: center;
    display: flex;
  }

  .clear-category {
    display: flex;
    align-items: center;

    mat-form-field {
      justify-content: flex-start;
    }

    button {
      justify-content: flex-end;
    }
  }
}

.new-category {
  z-index: 100;
  position: fixed;
  margin: 20px;
  bottom: 50px;
  right: 20px;
}

.month-selector {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}