<div class="top-row">
  <button mat-button (click)="toggleEdit()" >{{editVerbiage}}</button>
</div>
<div *ngFor="let category of categories" class="table">
  <h3 class="category-header">{{ category.name }}</h3>

  <div>
    <table mat-table
           cdkDropList
           [cdkDropListData]="category.rows.data"
           [cdkDropListConnectedTo]="[]"
           [id]="category.id"
           (cdkDropListDropped)="drop($event, category)"
           [dataSource]="category.rows">

      <!-- Delete Button Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf="isEditable" cdkDragHandle>reorder</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>

      <!-- Subcategory Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Subcategory</th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput [(ngModel)]="row.name" placeholder="Subcategory"  [readonly]="!isEditable">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let row">
          <div class="clear-category">
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="row.value" (keypress)="allowOnlyNumbers($event)" placeholder="Amount">
              <button mat-icon-button matSuffix aria-label="Clear" *ngIf="row.value" (click)="row.value = null">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <button *ngIf="isEditable" mat-icon-button color="warn" (click)="deleteRow(category.id, row.id)" class="delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>

        <td mat-footer-cell *matFooterCellDef>{{ getCategoryTotal(category) | currency }}</td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sub-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>

  <button mat-button (click)="addRow(category.id)">+ Add Row</button>

</div>
