.expenses {
  margin: 0px 100px;

  .top-row {
    display: flex;
    justify-content: flex-end;
  }

  .table {
    padding: 0px 150px;

    mat-form-field.mat-mdc-form-field {
      margin: 10px 0px -5px 0px
    }

    .subcategory {
      
    }

    .header {
      display: flex;
      justify-content: space-between;

      button {
        margin-left: 20px;
      }

      .category-header {
        position: sticky;
        top: 0px;
        background: #fff8f8;
        z-index: 10;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }


    .sub-header {}

    .row-contents {
      padding: 10px;
      align-items: center;
      display: flex;
    }

    .clear-category {
      display: flex;
      align-items: center;

      .amount {     
        width: 125px;
      }
  

      mat-form-field {
        justify-content: flex-end;
      }

      button {
        justify-content: flex-end;
      }
    }
  }

  .floating-buttons {
    z-index: 100;
    position: fixed;
    margin: 20px;
    bottom: 50px;
    right: 20px;

    .submit {
      margin: 0px 0px 0px 30px;
      background-color: #DCF2E0;
      color: black;
    }
  }

  .month-selector {
    display: flex;
    justify-content: start;
    margin-left: 20px;
  }

  .month-header {
    display: flex;
    margin: 10px;

    p {
      font-weight: 600;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}