<div class="income">
  <div class="top-row">
    <div class="month-selector">
      <button class="chevron" mat-icon-button (click)="previousYear()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <mat-form-field class="year-picker">
        <input matInput [matDatepicker]="dp" placeholder="Year" [(ngModel)]="date" />
        <mat-datepicker-toggle matSuffix [for]="dp" />
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)">
        </mat-datepicker>
      </mat-form-field>
      <button class="chevron" mat-icon-button (click)="nextYear()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
  <h2> Income for {{currentYearSignal()}}</h2>
  <h3>Net YTD: {{yearToDateTotalSignal() | currency}} </h3>
  <div class="income-table" *ngFor="let month of monthIncomeSignal(); let i = index">
    <div class="header">
      <h3 class="category-header">{{getMonthNameSignal()[i].name}}</h3>
      <button mat-button class="add-row" (click)="addRow(month.id)">
        Add Row
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <table class="month-table" mat-table [dataSource]="month.income" [id]="month">
        <!-- Source Column -->
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef>Source</th>

          <td mat-cell *matCellDef="let row; let rowIndex = index">
            <mat-form-field class="cell-source">
              <input matInput [(ngModel)]="row.source" (change)="updateTotalAmount(row.amount, month.id, rowIndex)">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index">
            <div clas="amount">
              <mat-form-field class="cell-amount">
                <input matInput [(ngModel)]="row.amount" (change)="updateTotalAmount(row.amount, month.id, rowIndex)">
              </mat-form-field>
              <button mat-button class="delete-row" (click)="deleteRow(month.id, rowIndex)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ monthTotalSignal()[i].total | currency }}</td>
        </ng-container>

        <tr class="source-row" mat-header-row *matHeaderRowDef="['source', 'amount']"></tr>
        <tr class="cell-row" mat-row *matRowDef="let row; columns: ['source', 'amount'];"></tr>
        <tr mat-footer-row *matFooterRowDef="['source', 'amount'] sticky: true"></tr>
      </table>
    </div>
  </div>
</div>